@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background: #fff;
  color: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
button:hover {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
#wrap {
  width: 400px;
  padding-top: 50px;
  margin: 50px auto 0;
  background: linear-gradient(to bottom, #6e31dd, #33a2d5);
  position: relative;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
}
h1 {
  text-align: center;
  padding-bottom: 50px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
.lotto {
  padding: 5px 10px;
  border-radius: 5px;
  color: #00f;
  margin-left: 10px;
}
.sheet_wrap {
  margin-left: 100px;
}
.number_list {
  text-align: center;
  padding: 30px 0;
}
.accumulate {
  height: 300px;
  border-left: none;
  border-right: none;
  overflow: auto;
}
.accumulate div {
  padding: 5px 30px;
  counter-increment: number-count;
  font-weight: bold;
  position: relative;
}
.accumulate div::before {
  content: counter(number-count) ".";
  font-weight: normal;
  padding: 5px 10px;
}
footer {
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
}
.reset {
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 5px;
  color: #f33;
}
